.overlay-panel {
    background-color: var(--green);
    color: var(--text);
    position: absolute;
    justify-content: center;
    width: 50%;
    height: 100%;
    align-items: center;
}

.overlay-panel p {
    margin: 20px 0;
    width: 80%;
    text-align: center;
    font-size: 1.2em;
}

.overlay-container .styled {
    border: var(--text) solid 1px;
    color: var(--text);
}

.overlay-panel.overlay-left {
    left: 0;
    animation: animate-left 0.6s;
}

@keyframes animate-left {
    from {
        transform: translateX(400px);
    }

    to {
        transform: translateX(0);
    }
}

.overlay-panel.overlay-right {
    right: 0;
    animation: animate-right 0.6s;
}

@keyframes animate-right {
    from {
        transform: translateX(-400px);
    }

    to {
        transform: translateX(0);
    }
}

/* .overlay-panel.overlay-right {
    display: none;
}

.overlay-panel.overlay-right.active {
    display: flex;
} */

.overlay-panel.overlay-left {
    display: none;
}

.overlay-container.active .overlay-left {
    display: flex;
}

.overlay-container.active .overlay-right {
    display: none;
}