#home {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home .illustration {
    width: 40%;
}

.home-container {
    width: 90%;
    height: 80%;
    padding: 10px;
    display: flex;
    box-shadow: 0 0 10px 0px var(--shadow);
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.brand-tagline-container {
    max-width: 50%;
    height: 65%;
}

.brand-tagline-container .brand {
    font-size: 4.5em;
    letter-spacing: 5px;
}

.brand-tagline-container .tagline {
    margin: 5px 0;
    width: 33%;
    max-width: max-content;
    text-wrap: nowrap;
    text-overflow: hidden;
    overflow: hidden;
    font-weight: 500;
    font-size: 1.6em;
    animation: animate 12s infinite, cursor .6s infinite alternate;
    border-right: 1px solid;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes animate {

    0%,
    100% {
        width: 33%;
    }

    90% {
        width: 100%;
    }
}

.description {
    max-width: 90%;
    margin-top: 20px;
    font-size: 1.3em;
    line-height: 1.6em;
    font-weight: 200;
}

.brand-tagline-container .btn-container {
    margin-top: 10px;
    display: flex;
    gap: 5%;
}

.styled.learn-more {
    background-color: #494242;
    transition: all 0.2s;
}

.styled.learn-more:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px 0 var(--secondaryText);
}

.get-started {
    transition: all 0.2s;
}

.get-started:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px 0 var(--shadow);
}
.how-to-use-section {
    position: relative;
    width: 85%;
    margin: 8vh auto;
}

.steps-container {
    padding: 5%;
    box-shadow: 0 0 10px 0 rgba(6, 197, 157, 0.9);
}

.steps-container span {
    font-size: 1.4em;
    line-height: 1.4em;
}

.steps-container ol>li {
    list-style: decimal;
}

.steps-container .illustration {
    position: absolute;
    z-index: -1;
}

.step-heading {
    color: var(--green);
    font-size: 1.4em;
    margin: 20px 0 20px 20px;
}

.step-heading .step-des {
    color: #252525;
    margin-top: 5px;
    font-size: .9em;
    width: 70%;
}

.steps-container .illustration {
    right: 10%;
    top: 30%;
    width: 40%;
    opacity: .1;
}

.features-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.feature {
    border-radius: 10px;
    text-align: center;
    padding: 20px 10px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: 20vh;
    background-color: #192e36;
    transition: 0.4s all;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.feature:hover {
    transform: scale(1.1);
}

.feature h2 {
    font-size: 1.4em;
    font-weight: 500;
}

.feature span {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 200;
    color: var(--text);
    text-overflow: ellipsis;
}
.doctor-main-container {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

.doctor-info-container {
    padding: 0 20px;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.doctor {
    width: 60%;
    height: max-content;
    background-color: rgba(37, 37, 37, 0.5);
    padding: 20px 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.doctor h2 {
    font-size: 1.3em;
}

.doctor h3 {
    font-size: 1.1em;
}

.doctor:hover {
    transform: scale(1.1);
}
.doctor .profile-pic {
    margin-bottom: 10px;
    width: 50%;
    aspect-ratio: 1;
    border-radius: 50%;
}
.section-container{
    background-color: var(--green);
    width: 100%;
    padding:50px 20px;
    color:var(--text);
}
.testimonial cite {
    float: right;
    font-size: 1.5em;
}

.testimonial blockquote {
    margin: 20px 0;
    font-size: 1.4em;
    line-height: 28px;
}

.testimonial-section {
    margin: 6vh auto 0;
    position: relative;
    width: 100%;
}

.testimonial-container {
    width: 1200px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.slider-row {
    display: flex;
    width: max-content;
    transition: 0.5s;
}

.testimonial {
    padding: 1% 2%;
    width: 1200px;
    height: 180px;
    border-radius: 10px;
    border: 2px solid var(--green);
}

.indicators {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.indicator-btn {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    margin: 4px;
    background-color: var(--green);
    cursor: pointer;
    transition: 0.5s;
}

.indicator-btn.active {
    width: 45px;
}

.slider-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.contact-section {
    padding: 50px;
    position: relative;
    background-color: var(--green);
    justify-content: center;
    align-items: center;
}

.contact-main-container {
    position: relative;
    width: 60%;
    min-height: 43vh;
    align-items: center;
    justify-content: center;
    padding: 3%;
    box-shadow: 0 0 10px 5px rgba(2, 126, 99, 0.637);
    background-color: var(--text);
    animation: send 0.4s;
}

.contact-form.not-active {
    display: none;
}

@keyframes send {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.contact-main-container .contact-us-img {
    width: 40%;
    height: 50%;
}

.contact-form-container form {
    margin: 0 auto;
    width: 50%;
}

.contact-form-container {
    align-items: center;
}

.contact-form-container form input,
textarea {
    font-size: 1.2em;
    padding: 10px;
    margin: 15px 0;
    border: var(--green) 1px solid;
}

.contact-form-container .styled {
    margin-top: 3px;
    padding: 5px 10px;
}

.contact-form-container button {
    font-size: 1.2em;
}

.contact-section .thanks-container {
    width: 100%;
    padding: 2% 8%;
    background-color: var(--text);
    text-align: center;
    border-radius: 60px;
    animation: receive 0.4s;
}

.thanks-container .thanks img {
    width: 40%;
}

.contact-section .thanks-container.active {
    display: flex;
}

@keyframes receive {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.thanks h2 {
    font-size: 3em;
}

.thanks h4 {
    font-size: 1.5em;
}

.thanks h2,
.thanks h4 {
    font-weight: 400;
}
@media (min-width:375px) {

    .navbar-container-left,
    .navbar-container-right {
        display: none;
    }

    .navbar-container .menu-icon {
        display: block;
        height: 25px;
    }

    .navbar-container{
        font-size: 14px;
    }

    #home {
        height: 80vh;
    }

    #home .illustration {
        width: 45%;
    }

    .doctor-illustration {
        display: none;
    }

    .home-container {
        height: 80%;
        justify-content: space-evenly;
        font-size: 7px;
        display: flex;
        flex-direction: column-reverse;
    }

    .brand-tagline-container {
        height: 50%;
        max-width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .description {
        margin-top: 10px;
        line-height: 18px;
        text-align: center;
    }

    .feature-section,
    .doctors-section {
        font-size: 13px;
        padding: 40px 0;
    }

    .feature {
        flex-basis: 80%;
    }

    .section-fonts {
        font-size: 11px;
    }

    .steps-container .illustration {
        right: 10%;
        top: 30%;
        width: 100%;
        opacity: .1;
    }

    .step-heading .step-des {
        width: 95%;
    }

    .heading {
        font-size: 26px;
    }

    .testimonial-section {
        font-size: 11px;
        margin: 6vh auto 3vh;
        height: 45vh;
    }

    .testimonial,
    .testimonial-container {
        width: 300px;
        height: 150px;
    }

    .testimonial blockquote {
        line-height: 20px;
    }

    .indicator-btn {
        font-size: 10px;
    }

    .indicator-btn.active {
        width: 30px;
    }

    .contact-section {
        height: 70vh;
    }

    .contact-main-container {
        min-height: 60vh;
        padding: 20px;
        width: 110%;
    }

    .contact-main-container .contact-us-img {
        display: none;
    }

    .contact-form-container form {
        width: 90%;
    }

    .contact-form-container form input,
    textarea {
        margin: 6px 0;
        padding: 10px;
        width: 100%;
    }

    footer {
        padding: 20px 10px;
        justify-content: start;
        gap: 10%;
    }

   footer .logo {
        font-size: 9px;
        width: 80%;
    }

    .footer-container {
        font-size: 8px;
    }

    .logo .social-icons-container {
        gap: 8px;
    }

    .footer-container .details-container {
        gap: 5px;
    }

    .details-container span i.fa {
        margin-right: 5px;
    }

    .details-container h3 {
        margin-bottom: 9px;
    }

    .footer-container {
        align-items: start;
    }

    .footer-container .important-links-container ul {
        margin-top: 13px;
    }

    .footer-container .important-links-container li {
        margin: 5px;
    }

    .footer-container .stay-updated h3 {
        margin-bottom: 13px;
    }

    .subscribe input {
        padding: 5px 10px;
        font-size: 1em;
        border: none;
    }

    .subscribe .styled {
        border-radius: 0;
        padding: 8px 12px;
        font-size: 1.1em;
    }
}

@media (min-width:375px) and (min-height:670px) and (max-width:575px) {
    .contact-section {
        height: 65vh;
    }

    .testimonial-section {
        margin: 4vh auto 3vh;
        height: 35vh;
    }

    .contact-main-container {
        min-height: 55vh;
    }
    .contact-form-container form input,
    textarea {
        margin: 8px 0;
    }

}

@media (min-width:375px) and (min-height:750px) and (max-width:575px) {
    #home {
        height: 65vh;
    }

    .feature {
        padding: 10px;
        flex-basis: 70%;
        height: 16vh;
        gap: 10%;
    }

    .contact-section {
        height: 55vh;
    }

    .testimonial-section {
        margin: 4vh auto 3vh;
        height: 30vh;
    }

    .contact-main-container {
        min-height: 45vh;
    }

    footer {
        padding: 30px 10px 20px;
        height: 30vh;
    }
}

@media (min-width:450px) and (max-width:575px) {
    .feature {
        padding: 20px;
        flex-basis: 75%;
        height: 15vh;
        gap: 12%;
    }

    #home {
        height: 70vh;
    }

    .testimonial,
    .testimonial-container {
        width: 400px;
        height: 160px;
        font-size: 12px;
    }

    .testimonial-section {
        margin: 6vh auto 4vh;
        height: 30vh;
    }

    .contact-section {
        height: 55vh;
    }

    .contact-main-container {
        min-height: 45vh;
        padding: 20px;
        width: 100%;
    }

    footer .logo,
    .footer-container {
        font-size: 10px;
    }
}

@media (min-width:575px) {
    .navbar-container {
        font-size: 20px;
    }

    .home-container {
        font-size: 11px;
        height: 75%;
    }

    .home-container .illustration {
        width: 35%;
    }

    .brand-tagline-container {
        height: 60%;
    }

    .doctors-section {
        font-size: 13px;
    }

    .doctor {
        flex-basis: 40%;
    }

    .feature-section {
        font-size: 13px;
    }

    .feature {
        flex-basis: 40%;
        height: 18vh;
    }

    .section-fonts {
        font-size: 13px;
    }

    .steps-container .illustration {
        right: 10%;
        top: 20%;
        width: 80%;
        opacity: .1;
    }

    .step-heading .step-des {
        width: 95%;
    }

    .heading {
        font-size: 32px;
    }

    .testimonial-section {
        height: 35vh;
    }

    .testimonial,
    .testimonial-container {
        width: 450px;
        height: 180px;
        font-size: 16px;
    }

    .testimonial blockquote {
        line-height: 26px;
    }

    .contact-section {
        height: 60vh;
    }

    .contact-main-container {
        min-height: 50vh;
        padding: 20px;
        width: 90%;
    }
    .contact-form-container form input,
    textarea {
        margin: 10px 0;
    }
    .contact-form-container form {
        width: 90%;
    }

    footer {
        padding: 30px 10px 20px;
    }

   footer .logo,
    .footer-container {
        font-size: 12px;
    }
}

@media(min-width:768px) {

    .navbar-container-left,.navbar-container-right {
        display: flex;
    }

    .navbar-container {
        font-size: 16px;
    }

    .navbar-container .menu-icon {
        display: none;
    }

    #home {
        height: 75vh;
    }

    #home .illustration {
        width: 40%;
    }

    .home-container {
        font-size: 11px;
        flex-direction: row;
    }

    .brand-tagline-container {
        width: 60%;
        height: 50%;
    }

    .description {
        line-height: 20px;
    }

    .doctor {
        flex-basis: 35%;
    }

    .feature-section,
    .doctors-section {
        font-size: 15px;
        padding: 50px 0;
    }

    .feature {
        padding: 20px 10px;
        flex-basis: 40%;
    }

    .section-fonts {
        font-size: 11px;
    }

    .steps-container .illustration {
        right: 10%;
        top: 20%;
        width: 80%;
    }

    .step-heading .step-des {
        width: 95%;
    }

    .heading {
        font-size: 32px;
    }

    .testimonial-section {
        font-size: 16px;
    }

    .testimonial,
    .testimonial-container {
        width: 600px;
    }

    .contact-main-container {
        width: 70%;
        max-width: 70%;
    }

    .contact-form-container form {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    footer {
        height: 40vh;
        padding: 40px 10px 20px;
    }

    footer .logo,
    .footer-container {
        font-size: 14px;
    }
}

@media (min-width:950px) {
    .navbar-container {
        font-size: 16px;
    }

    .navbar-container-right {
        display: flex;
    }

    #home {
        height: 80vh;
    }

    .home-container {
        width: 85%;
        height: 80%;
        font-size: 12px;
    }

    #home .illustration {
        width: 35%;
    }

    .description {
        text-align: left;
        line-height: 22px;
    }

    .brand-tagline-container {
        width: 50%;
        height: 60%;
        align-items: start;
    }

    .feature-section {
        font-size: 14px;
    }

    .feature {
        padding: 20px;
        flex-basis: 30%;
    }

    .doctor {
        flex-basis: 30%;
    }

    .section-fonts {
        font-size: 15px;
    }

    .steps-container .illustration {
        top: 20%;
        width: 60%;
    }

    .step-heading .step-des {
        width: 80%;
    }

    .testimonial-section {
        font-size: 18px;
        height: 40vh;
    }

    .testimonial,
    .testimonial-container {
        width: 750px;
    }

    .testimonial blockquote {
        font-size: 1.4em;
        margin: 15px 0;
        line-height: 28px;
    }

    .contact-section {
        height: 65vh;
        padding: 20px;
    }

    .contact-main-container {
        width: 75%;
        height: 55vh;
    }

    .contact-form-container form {
        width: 50%;
    }

    .contact-main-container .contact-us-img {
        display: block;
    }

    .heading {
        font-size: 38px;
    }

    footer {
        height: 28vh;
        padding: 50px 10px;
        flex-direction: row;
        align-items: start;
    }

    footer .logo {
        width: 25%;
    }

    .footer-container {
        width: 80%;
    }
}

@media (min-width:1024px) {

    .navbar-container {
        font-size: 16px;
    }

    .home-container {
        font-size: 12px;
    }

    .description {
        line-height: 24px;
    }

    .feature-section {
        font-size: 14px;
    }

    .feature {
        padding: 20px;
        flex-basis: 26%;
        height: 20vh;
    }

    .section-fonts {
        font-size: 14px;
    }

    .doctor {
        flex-basis: 25%;
    }

    .testimonial blockquote {
        margin: 15px 0;
        line-height: 28px;
    }

    .contact-section {
        height: 65vh;
        padding: 20px;
    }

    .contact-main-container {
        width: 65%;
        height: 55vh;
    }

    .heading {
        font-size: 36px;
    }

    footer .logo,
    .footer-container {
        font-size: 15px;
    }
}

@media (min-width:1150px) {

    .navbar-container {
        font-size: 20px;
    }

    #home {
        height: 85vh;
    }

    .home-container {
        font-size: 12px;
    }

    .brand-tagline-container {
        width: 45%;
    }

    .description {
        margin: 15px 0;
        line-height: 26px;
    }

    .feature-section {
        font-size: 16px;
    }

    .feature {
        flex-basis: 30%;
    }

    .section-fonts {
        font-size: 16px;
    }

    .steps-container .illustration {
        top: 20%;
        width: 70%;
    }

    .doctor {
        flex-basis: 28%;
    }

    .testimonial-section {
        font-size: 20px;
    }

    .testimonial,
    .testimonial-container {
        width: 850px;
    }

    .indicator-btn {
        font-size: 15px;
    }

    .indicator-btn.active {
        width: 45px;
    }

    .contact-section {
        padding: 5% 10%;
        height: 70vh;
    }

    .contact-main-container {
        width: 80%;
        height: 60vh;
    }

    .contact-form-container .styled {
        margin-top: 6px;
    }

    .heading {
        font-size: 36px;
    }

    footer {
        height: 30vh;
        padding: 55px 10px;
    }

    footer .logo,
    .footer-container {
        font-size: 16px;
    }
}

@media (min-width:1350px) {
    .navbar-container {
        font-size: 20px;
    }

    .home-container {
        font-size: 14px;
    }

    #home {
        height: 90vh;
    }

    .brand-tagline-container {
        width: 45%;
        height: 50%;
    }

    .feature-section {
        font-size: 17px;
    }

    .feature {
        padding: 25px 20px;
        flex-basis: 25%;
    }

    .section-fonts {
        font-size: 17px;
    }

    .steps-container .illustration {
        top: 20%;
        width: 40%;
    }

    .heading {
        font-size: 38px;
    }

    .testimonial-section {
        height: 45vh;
        margin: 6vh auto 2vh;
        font-size: 20px;
    }

    .testimonial,
    .testimonial-container {
        width: 1200px;
    }

    .testimonial blockquote {
        font-size: 1.6em;
    }

    .contact-section {
        height: 75vh;
    }

    .contact-main-container {
        height: 70vh;
        width: 70%;
    }

    .contact-form-container .styled {
        margin-top: 10px;
    }

    footer {
        height: 35vh;
        padding: 4% 2%;
    }

    footer .logo,
    .footer-container {
        font-size: 19px;
    }

    .logo .social-icons-container {
        gap: 15px;
    }

    .footer-container .details-container {
        gap: 10px;
    }

    .details-container span i.fa {
        margin-right: 10px;
    }

    .details-container h3 {
        margin-bottom: 12px;
    }

    .footer-container .important-links-container ul {
        margin-top: 19px;
    }

    .footer-container .important-links-container li {
        margin-bottom: 10px;
    }

    .footer-container .stay-updated h3 {
        margin-bottom: 19px;
    }
}