.flex-col{
   display: flex;
   flex-direction: column;
}

.flex-col.center {
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    background-color: var(--bodyBgColorDashboard);
    min-height: 100vh;
}

.pop-message {
    display: none;
    font-size: 1.3em;
    background-color: var(--desText);
    padding: 20px;
    width: 25%;
    height: 7vh;
    position: absolute;
    border-radius: 5px;
    right: 0;
    z-index: 100;
    top: 12%;
    animation: popUp 0.6s;
    color: var(--text);
}

.pop-message.error {
    background-color: var(--errorBackground);
}

.pop-message span#close-toast {
    position: absolute;
    right: 20px;
    top: 8px;
    font-size: 1.8em;
    cursor: pointer;
}

.pop-message.success {
    background-color: var(--successBackground);
}

.pop-message.active {
    display: block;
}

@keyframes popUp {
    from {
        transform: translateX(350px);
    }

    to {
        transform: translateX(0);
    }
}

.main-side-nav-bar li.active {
    color: var(--navBgColorDashboard);
    background-color: var(--bgColor);
}

.profile-setting-section {
    position: relative;
    width: max-content;
    margin: 20px;
    height: max-content;
    border-radius: 15px;
}

.profile-setting-section .profile-pic {
    margin: 0 auto;
    width: 40%;
    aspect-ratio: 1;
}

.profile-card {
    margin: 0 auto;
    width: 100%;
    height: 75vh;
    padding: 10%;
    background-color: var(--navBgColorDashboard);
    border-radius: 5px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}

.setting{
    display: flex;
}

.setting form,
.details .user-details {
    margin-top: 30px;
}

.setting form>div {
    height: 50px;
    display: flex;
    gap: 10%;
    align-items: center;
    margin-bottom: 25px;
}

.setting form>div label {
    width: 25%;
}

.form-field span {
    position: absolute;
    font-size: 14px;
    color: var(--errorText);
    margin-top: 1px;
    margin-left: 10px;
    display: none;
}

.form-field input.error,
.form-field select.error {
    border: var(--errorText) 1px solid;
}

.error-name.active,
.error-hospital-name.active,
.error-date.active,
.error-img.active,
.error-age.active,
.error-gender.active,
.error-email.active,
.error-alias.active{
    display: block;
}

.user-details.not-active {
    display: none;
}

.detail-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-field h3 {
    width: 65%;
}

.user-details h3 {
    font-size: 1.4em;
    font-weight: 400;
    margin: 20px 5px;
    display: inline-block;
}

.user-details span {
    font-size: 1.3em;
}

.setting form input,
.setting form select {
    width: 250px;
    padding: 15px;
    font-size: 1.1em;
    border: none;
    border-radius: 10px;
    border: transparent 1px solid;
    background-color: var(--bodyBgColorDashboard);
}

.setting form label {
    font-size: 1.2em;
}

.setting form select:focus {
    outline: none;
}

.dashboard.styled {
    width: 100%;
    margin-top: 15px;
    color: var(--bodyBgColorDashboard);
    background-color: var(--bgColor);
    border: none;
    text-align: center;
    font-size: 1.1em;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.pop-up-delete {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 2%;
    transform: translate(-50%, -50%);
    font-size: 1.3em;
    border-radius: 10px;
    background-color: rgb(168, 189, 211);
}

.pop-up-delete.active {
    display: block;
}

.btn-container {
    display: flex;
}

.pop-up-delete .btn-container button {
    width: 90%;
    margin: 20px 10px 0;
    border-radius: 10px;
    padding: 10px 0;
    font-size: .8em;
    border: none;
}

.delete,
#delete-btn {
    color: red;
    background-color: #efefef;
}
