.navbar-container {
    position: sticky;
    top: 0;
    left:0;
    padding: 0 5%;
    width: 100%;
    color: var(--text);
    height: 10vh;
    background-color: var(--navBackground);
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    z-index: 99;
}
.navbar-container .nav-items-container{
    font-size: 1em;
    gap:25%;
    margin-right: 50px;
}
