.login-box-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    animation: show 0.8s;
    z-index: 10;
    overflow: hidden;
}

@keyframes show {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.container {
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    height: 70%;
    background-color: var(--text);
    box-shadow: 0 0 5px 2px var(--shadow);
}

.login-box-container.active {
    display: block;
}

.container a {
    color: var(--green);
}

#close-login {
    position: absolute;
    top: 0;
    z-index: 10;
    right: 2%;
    font-size: 3em;
    cursor: pointer;
}


.form-container {
    width: 50%;
}

.form-container form {
    width: 100%;
    min-height: 100%;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.social-container svg {
    width: 40px;
    height: 40px;
}

.login-box-container h1 {
    margin: 10px 0;
    font-size: 2em;
}

.form-fields-container {
    justify-content: center;
    margin: 10px 0;
    width: 75%;
}

.form-fields-container .form-field {
    margin: 12px 0;
}

.form-fields-container .form-field span {
    position: absolute;
    width: 90%;
    font-size: .8em;
    color: var(--errorText);
    display: none;
}

.form-container form .form-field input.active+span
{
    display: block;
}

.form-container form input {
    font-size: 1.1em;
    padding: 15px 20px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #E9E9E9;
}

.form-container form .form-field input.active{
    border-color: var(--errorText);
}

.form-container .social-container {
    margin: 10px 0;
    font-size: 1.3em;
}

.form-container button {
    margin-top: 20px;
}
.overlay-panel {
    background-color: var(--green);
    color: var(--text);
    position: absolute;
    justify-content: center;
    width: 50%;
    height: 100%;
    align-items: center;
}

.overlay-panel p {
    margin: 20px 0;
    width: 80%;
    text-align: center;
    font-size: 1.2em;
}

.overlay-container .styled {
    border: var(--text) solid 1px;
    color: var(--text);
}

.overlay-panel.overlay-left {
    left: 0;
    animation: animate-left 0.6s;
}

@keyframes animate-left {
    from {
        transform: translateX(400px);
    }

    to {
        transform: translateX(0);
    }
}

.overlay-panel.overlay-right {
    right: 0;
    animation: animate-right 0.6s;
}

@keyframes animate-right {
    from {
        transform: translateX(-400px);
    }

    to {
        transform: translateX(0);
    }
}

.overlay-panel.overlay-left {
    display: none;
}

.overlay-container.active .overlay-left {
    display: flex;
}

.overlay-container.active .overlay-right {
    display: none;
}

