@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,600&display=swap');

:root {
  --green: #04C59D;
  --text: white;
  --shadow: rgba(6, 197, 157, 0.9);
  --desText: #cfdbd5;
  --secondaryText: #252525;
  --navBackground: rgb(0, 154, 120);
  --errorText: #c74244;
  --errorBackground: #c74244;
  --successBackground: #4aa155;
  --footerBg: #3b3b3b;
  --primaryTextDashboard: #363740;
  --secondaryTextDashboard: #a0afbf;
  --bgColor: rgb(0, 145, 147);
  --secondaryBgColor: #88dacc;
  --bodyBgColorDashboard: #f8f9fa;
  --navBgColorDashboard: white;
  --modalShadow: rgba(0, 145, 147, 0.9);
  --cardBgColor: rgb(221, 230, 238);
}


* {
  font-family: "Raleway";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 42px;
  text-align: center;
  margin-bottom: 4vh;
}

.form-field input{
  background-color: var(--secondaryTextDashboard);
}
.pop-message {
  display: none;
  font-size: 1.3em;
  background-color: var(--desText);
  padding: 20px;
  width: 25%;
  height: 7vh;
  position: absolute;
  border-radius: 5px;
  right: 0;
  z-index: 100;
  top: 12%;
  animation: popUp 0.6s;
  color: var(--text);
}

.pop-message.error {
  background-color: var(--errorBackground);
}

.pop-message span#close-toast {
  position: absolute;
  right: 20px;
  top: 8px;
  font-size: 1.8em;
  cursor: pointer;
}

.pop-message.success {
  background-color: var(--successBackground);
}

#pop-message.active {
  display: block;
}

@keyframes popUp {
  from {
      transform: translateX(350px);
  }

  to {
      transform: translateX(0);
  }
}
