@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,600&display=swap');

:root {
  --green: #04C59D;
  --text: white;
  --shadow: rgba(6, 197, 157, 0.9);
  --desText: #cfdbd5;
  --secondaryText: #252525;
  --navBackground: rgb(0, 154, 120);
  --errorText: #c74244;
  --errorBackground: #c74244;
  --successBackground: #4aa155;
  --footerBg: #3b3b3b;
}

* {
  font-family: "Raleway";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.heading {
  font-size: 42px;
  text-align: center;
  margin-bottom: 4vh;
}